@import 'tailwindcss';

:root {
  --background: #f7f8fa;
  --foreground: #171717;
  --primary: #26ace3;
  --secondary: #008f00;
}

.dark {
  --background: #171717;
  --foreground: #f7f8fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
